/************************************************************************/
/*一般使用的样式*/
body
{	
	/*
	scrollbar-highlight-color: buttonface;
    scrollbar-shadow-color: buttonface;
    scrollbar-dlight-color: buttonhighlight;
    scrollbar-track-color: #eeeeee;
    scrollbar-darkshadow-color: buttonshadow;
	
	border-bottom:2px;
    border-left: 2px;
    border-right:2px;
    border-top: 2px;

    border-bottom: medium none; 
    border-left: medium none; 
    border-right: medium none; 
    border-top: medium none; 
	*/
	
    margin: 0px;
    overflow:auto;
	
	/*font: Times;*/
    font-size:12px;
}

/*通用的超链接的样式设置*/
/*Banks: 从none改为underline*/
a:link 
{
	color: #000000; text-decoration: underline
}
/*Banks: 从none改为underline*/

a:visited 
{
	color: #000000; text-decoration: underline
}

a:active 
{
	text-decoration: underline
}

a:hover 
{
	color: blue; text-decoration: underline
}

td{
	/*font: Times;*/
	font-size:12px;
}

tr
{
	font-size:12px;
}

/*统一使用12象素的字体*/
.font {
	/*font: Times;*/
	font-size:12px;
}

span{
	/*font: Times;*/
	font-size:12px;
}

/*Banks: 添加label默认字体*/
label{
	/*font: Times;*/
	font-size:12px;
}

/*Banks: 添加label默认字体*/
body{
	/*font: Times;*/
	font-size:12px;
}

.ListTable
{
	font-size:12px;
	/*table-layout:fixed;*/
}

.ListTable tr
{
	height:25px;
}

.ListTable tr td
{
	height:25px;
	word-break: keep-all;/*必须*/
	overflow: hidden;
	text-overflow:ellipsis;
}


.ListTable1
{
	font-size:12px;
	/*table-layout:fixed;*/
}

.ListTable1 tr
{
	height:25px;
}

.ListTable1 tr td
{
	height:25px;
	word-break: keep-all;/*必须*/
	overflow: hidden;
	text-overflow:ellipsis;
	border-bottom:1px solid #C4D9F9; 
}

/************************************************************************/
/*工具条上使用的样式设置*/
/*background:url(images/toolbar_bg.gif);*/
/*Banks: 修改了属性*/
.toolbar_table{
	width:100%;
	height:24px;
	background-color:#C4D9F9;
	border:1px solid #cccccc;
}

/*Banks: 添加，用于CMS产品主页面的主表和关联表上Toolbar*/
.cms_toolbar{
	height:24px;
	background-color:#C4D9F9;
	border:1px solid #cccccc;
}

/*Banks: 添加，用于窗体设计页面的Toolbar*/
.formdesign_toolbar{
	width:100%;
	height:24px;
	background-color:#E7EBEF;
	border:1px solid #cccccc;
}

.toolbar_table td.toolbar-cell{
	behavior:url(script/toolbar.htc);
}

/************************************************************************/
/*部门管理中树结构上的工具条使用的样式设置*/
.toolbar_table_dep{
	height:24px;
	background-color:#C4D9F9;
	color:Black;
	border:1px solid #cccccc;
}

/************************************************************************/
/*所有窗体外部框架Table的class*/
.frame_table
{
	border: 0px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
}

/*所有窗体的主Table的class，如果需要显示Table内部的Cell边框，只需在HTML文件的TABLE定义处加入border="1"，这里CSS内的border=1px仅指Table的外边框*/
.form_table
{
	BORDER-COLLAPSE: collapse;
	padding-top: 1px; /*每个Cell顶部稍留点空间*/
	padding-left: 2px;
	padding-right: 2px;
	border: #C4D9F9 1px solid; /*Table的外边框为1*/
	width: 100%;
}

.form_table_noborder
{
	BORDER-COLLAPSE: collapse;
	padding-top: 0px; /*每个Cell顶部稍留点空间*/
	padding-left: 0px;
	padding-right: 0px;
	border: 0px none; /*Table的外边框为1*/
	width: 100%;
}

/***************************************************************/
/*所有窗体的主TABLE的标题栏的class*/
.form_header
{
	height:24px;
	background-color:#C4D9F9;	
}

/*窗体内各模块的标题栏的class*/
.module_header
{
	height:24px;
	background-color:#e7ebef;	
}
/***************************************************************/





/***************************************************************/
/*简单录入界面的上的样式  6699CC*/
.table_level2
{
	/*padding-left:4px;*/
	border: #C4D9F9 1px solid; /*#6699CC;*/
}

.header_level2
{
	height:24px;
	background-color:#C4D9F9;	
}

.table_level3
{
	/*padding-left:4px;*/
	border:#E7EBEF 1px solid; /*#e3e3e3;*/
}

.header_level3
{
	height:24px;
	background-color:#E7EBEF;
}
/***************************************************************/




/***************************************************************/
/*TOP导航栏的样式设置*/
.header_level1{
	background-color:#639ACE;
}

.header_level1 td{
	/*font: Times;*/
	font-size:13px;
}

.header_level1 span{
	/*font: Times;*/
	font-size:13px;
}
.Freezing th{text-overflow:ellipsis;overflow:hidden;white-space: nowrap;padding:2px;}

/***************************************************************/
